@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #f1bc74;
  --text-muted-color: #666;
  --white: #ffffff;
  --input-border: 1px solid var(--primary-color);
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  --font-family: "Poppins", sans-serif;
  --primary-text-color: #ff9807;
}
  
html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family) !important;
  }